<mat-vertical-stepper linear="true" #stepper verti>
    <mat-step [stepControl]="createForm">
        <div class="formContent">
            <section class="formBox">
                <h2 class="section-heading">Create Challenge</h2>
                <form [formGroup]="createForm" (submit)="submitCreate()" class="formContent">
                    <ng-template matStepLabel>Challenge description</ng-template>
                    <mat-form-field class="formInput_fullWidth">
                        <mat-label for="challenge_name">Challenge Name</mat-label>
                        <input matInput id="challenge_name" type="text" formControlName="challenge_name" required>
                    </mat-form-field>
                    <mat-form-field class="formInput_fullWidth">
                        <mat-label for="description">Description</mat-label>
                        <textarea matInput id="description" type="text" [maxLength]="256" rows="5"
                            formControlName="description"></textarea>
                    </mat-form-field>

                    <button mat-raised-button color="accent" type="submit" matStepperNext>
                        <mat-icon>arrow_right</mat-icon>
                        <span>Next</span>
                    </button>
                </form>
            </section>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Define Schedule</ng-template>
        <section class="formBox">
            <h2 class="section-heading">Create Challenge</h2>
            <form [formGroup]="scheduleForm" class="formContent" (submit)="submitCreate()">
                <mat-button-toggle-group formControlName="schedule_mode">
                    <mat-button-toggle value="OneTime">One Time</mat-button-toggle>
                    <mat-button-toggle value="Daily">Daily</mat-button-toggle>
                    <mat-button-toggle value="Weekly">Weekly</mat-button-toggle>
                    <mat-button-toggle value="Monthly">Monthly</mat-button-toggle>
                </mat-button-toggle-group>
                <div *ngIf="this.scheduleForm.value.schedule_mode == 'OneTime'" style="margin-top: 1em;">
                <mat-form-field>
                    <mat-label for="schedule_date">Date</mat-label>
                    <input matInput id="schedule_date" type="date" formControlName="schedule_date" required>
                </mat-form-field>
            </div>
            </form>
            <button mat-raised-button color="accent" type="submit" matStepperNext>
                <mat-icon>arrow_right</mat-icon>
                <span>Next</span>
            </button>
        </section>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Save</ng-template>
        <section class="formBox">
            <h2 class="section-heading">Confirm Challenge</h2>
        </section>
    </mat-step>
</mat-vertical-stepper>