<div class="p-5">
    <p-tabView>
        <p-tabPanel i18n-header header="Group Heros">
            <h2 i81n>Members</h2>
            <div class="flex flex-wrap gap-3">
                @for (hero of this.groupHeros; track $index) {
                <p-card [header]="hero.hero?.hero_name" [subheader]="hero.heroClass?.class_name"
                    [style]="{ width: '360px' }">
                    <ng-template pTemplate="header">
                        <img alt="Avatar" [src]="hero.heroClass?.img"
                            [style]="{'height': '200px', 'object-fit': 'cover', 'object-position': '0% 0%'}" />
                    </ng-template>
                        <span>{{hero.member.group_role}}</span>
                    <ng-template pTemplate="footer">
                        <div class="flex flex-row justify-content-between">
                            @if(!hero.hero && hero.member.account_name == this.account_name) {
                        <button color="accent" mat-button [routerLink]="['/createHero', this.groupId]">
                            <span>Create your Hero</span>
                            <mat-icon>add</mat-icon>
                        </button>
                        }
                        @if (hero.hero) {
                        <button color="accent" mat-button [routerLink]="['/hero',this.groupId, hero.hero.hero_id]">
                            <span>Show Hero</span>
                            <mat-icon>arrow_right</mat-icon>
                        </button>
                        }
                        <button matListItemMeta mat-mini-fab color="primary" [matMenuTriggerFor]="memberMenu">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <mat-menu #memberMenu>
                            <button mat-menu-item (click)="this.removeMember(hero.member)">Remove</button>
                        </mat-menu>
                        </div>
                    </ng-template>
                </p-card>
                }
            </div>
        </p-tabPanel>
        <p-tabPanel i18n-header header="Tasks">
        </p-tabPanel>
    </p-tabView>
</div>

<mat-tab-group>
    <!-- <mat-tab label="Members">
        <section>
            <h2>Members</h2>
            <mat-list>
                @for (hero of this.groupHeros; track hero) {
                <mat-list-item>
                    @if (hero.heroClass) {
                    <p-avatar shape="circle" matListItemIcon>
                        <img [src]="hero.heroClass.img_head">
                    </p-avatar>
                    } @else {
                    <mat-icon matListItemIcon>person_3</mat-icon>
                    }
                    <h4 matListItemTitle>{{hero.member.account_name}}
                        @if(!hero.hero && hero.member.account_name == this.account_name) {
                        <button color="accent" mat-button [routerLink]="['/createHero', this.groupId]">
                            <span>Create your Hero</span>
                            <mat-icon>add</mat-icon>
                        </button>
                        }
                        @if (hero.hero) {
                        <button color="accent" mat-button [routerLink]="['/hero',this.groupId, hero.hero.hero_id]">
                            <span>Show Hero</span>
                            <mat-icon>arrow_right</mat-icon>
                        </button>
                        }
                    </h4>
                    <p matListItemLine>{{hero.member.group_role}}</p>
                     <button matListItemMeta mat-mini-fab color="primary" [matMenuTriggerFor]="memberMenu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #memberMenu>
                        <button mat-menu-item (click)="this.removeMember(hero.member)">Remove</button>
                    </mat-menu> 
                </mat-list-item>
                 <mat-divider [inset]="true"></mat-divider> 
                }
            </mat-list>
            <button mat-button color="accent" (click)="this.openInviteDialog()">Add Member</button>
        </section>
        <section>
            <h2>Open Invitations</h2>
            <mat-list>
                @for (invite of this.groupInvitations; track invite) {
                <mat-list-item>
                    <mat-icon matListItemIcon>person_3</mat-icon>
                    <h4 matListItemTitle>{{invite.account_name}}</h4>
                    <p matListItemLine>{{invite.invitation_code}}</p>
                </mat-list-item>
                 <mat-divider [inset]="true"></mat-divider> 
                }
            </mat-list>
        </section>
    </mat-tab> -->
    <mat-tab label="Tasks">
        <h2>Todays tasks</h2>
        <mat-accordion>
            @for (task of this.tasks; track $index) {
            @if (task.due_date <= this.today) { <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        @if (task.status =="done") {
                        <mat-icon>done</mat-icon>
                        }
                        {{task.task_name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <span>{{task.due_date}}</span>
                        @if (task.due_date < this.today && task.status=="open" ) { <mat-icon color="warn">
                            priority_high</mat-icon>
                            }
                    </mat-panel-description>
                    @if(task.assigned_to == '') {
                    <mat-panel-description color="primary">(not assigend)</mat-panel-description>
                    } @else {
                    <mat-panel-description>Hero: {{task.assigned_to}}</mat-panel-description>
                    }
                </mat-expansion-panel-header>
                <div style="width: 100%; display: flex; flex-direction: row;;">
                    <div style="width: 40em; display: flex; flex-direction: column;">
                        <span>{{task.task_description}}</span>
                    </div>
                    <button mat-raised-button [matMenuTriggerFor]="assignMember">
                        <mat-icon>assignment</mat-icon>
                        Assign task
                    </button>
                    @if (task.status === 'open') {
                    <button mat-mini-fab color="accent" style="margin-left: auto;"
                        (click)="this.clearTask(task.task_id)">
                        <mat-icon style="color: black;">done</mat-icon>
                    </button>
                    }
                    <mat-menu #assignMember>
                        @for (hero of this.groupMembers; track hero) {
                        <button mat-menu-item (click)="this.assignTask(task.task_id, hero.account_name)">
                            {{hero.account_name}}
                        </button>
                        }
                    </mat-menu>
                </div>
                </mat-expansion-panel>
                }
                }
        </mat-accordion>
        <mat-divider></mat-divider>
        <h2>Upcoming tasks</h2>
        <mat-accordion>
            @for (task of this.taskSkills; track $index) {
            @if (task.task.due_date > this.today) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        @if (task.task.status =="done") {
                        <mat-icon>done</mat-icon>
                        }
                        {{task.task.task_name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <span>{{task.task.due_date}}</span>
                        @if (task.task.due_date < this.today && task.task.status=="open" ) { <mat-icon color="warn">
                            priority_high</mat-icon>
                            }
                    </mat-panel-description>
                    @if(task.task.assigned_to == '') {
                    <mat-panel-description color="primary">(not assigend)</mat-panel-description>
                    } @else {
                    <mat-panel-description>Hero: {{task.task.assigned_to}}</mat-panel-description>
                    }
                </mat-expansion-panel-header>
                <div style="width: 100%; display: flex; flex-direction: row;;">
                    <div style="width: 40em; display: flex; flex-direction: column;">
                        <span>{{task.task.task_description}}</span>
                        @for (skill of task.skills; track $index) {
                        <span>{{skill.skill_name}} = {{skill.skill_value}}</span>
                        }
                    </div>
                    <button mat-raised-button [matMenuTriggerFor]="assignMember">
                        <mat-icon>assignment</mat-icon>
                        Assign task
                    </button>
                    @if (task.task.status === 'open') {
                    <button mat-mini-fab color="accent" style="margin-left: auto;"
                        (click)="this.clearTask(task.task.task_id)">
                        <mat-icon style="color: black;">done</mat-icon>
                    </button>
                    }
                    <mat-menu #assignMember>
                        @for (hero of this.groupMembers; track hero) {
                        <button mat-menu-item (click)="this.assignTask(task.task.task_id, hero.account_name)">
                            {{hero.account_name}}
                        </button>
                        }
                    </mat-menu>
                </div>
            </mat-expansion-panel>
            }
            }
        </mat-accordion>
        <!-- <mat-list>
            @for (task of this.tasks; track $index) {
            @if (task.due_date > this.today) {
            <mat-list-item>
                <h4 matListItemTitle>{{task.task_name}}</h4>
                <p matListItemLine>{{task.due_date}}; Challenge {{task.challenge_id}}: {{task.task_description}}</p>
                <button mat-mini-fab color="accent" matListItemMeta>
                    <mat-icon style="color: black;">done</mat-icon>
                </button>
            </mat-list-item>
            }
            }
        </mat-list> -->
    </mat-tab>
</mat-tab-group>