<mat-tab-group>
    <mat-tab label="Members">
        <section>
            <h2>Members</h2>
            <mat-list>
                @for (hero of this.groupMembers; track hero) {
                <mat-list-item>
                    <mat-icon matListItemIcon>person_3</mat-icon>
                    <h4 matListItemTitle>{{hero.account_name}}</h4>
                    <p matListItemLine>{{hero.group_role}}</p>
                    <button matListItemMeta mat-mini-fab color="primary" [matMenuTriggerFor]="memberMenu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #memberMenu>
                        <button mat-menu-item (click)="this.removeMember(hero)">Remove</button>
                    </mat-menu>
                </mat-list-item>
                <!-- <mat-divider [inset]="true"></mat-divider> -->
                }
            </mat-list>
            <button mat-button color="accent" (click)="this.openInviteDialog()">Add Member</button>
        </section>
        <section>
            <h2>Open Invitations</h2>
            <mat-list>
                @for (invite of this.groupInvitations; track invite) {
                <mat-list-item>
                    <mat-icon matListItemIcon>person_3</mat-icon>
                    <h4 matListItemTitle>{{invite.account_name}}</h4>
                    <p matListItemLine>{{invite.invitation_code}}</p>
                </mat-list-item>
                <!-- <mat-divider [inset]="true"></mat-divider> -->
                }
            </mat-list>
        </section>
    </mat-tab>
    <mat-tab label="Tasks">
        <h2>Todays tasks</h2>
        <mat-accordion>
            @for (task of this.tasks; track $index) {
            @if (task.due_date <= this.today) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{task.task_name}}</mat-panel-title>
                    <mat-panel-description>
                        <span>{{task.due_date}}</span>
                        @if (task.due_date < this.today) {
                            <mat-icon color="warn">priority_high</mat-icon>
                        }
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="width: 100%; display: flex; flex-direction: row;">
                    <div style="width: 80%; display: flex; flex-direction: column;">
                        <span>Challenge {{task.challenge_id}}</span>
                        <span>{{task.task_description}}</span>
                    </div>
                    <button mat-mini-fab color="accent" style="margin-left: auto;">
                        <mat-icon style="color: black;">done</mat-icon>
                    </button>
                </div>
            </mat-expansion-panel>
            }
            }
        </mat-accordion>
        <mat-divider></mat-divider>
        <h2>Upcoming tasks</h2>
        <mat-list>
            @for (task of this.tasks; track $index) {
            @if (task.due_date > this.today) {
            <mat-list-item>
                <h4 matListItemTitle>{{task.task_name}}</h4>
                <p matListItemLine>{{task.due_date}}; Challenge {{task.challenge_id}}: {{task.task_description}}</p>
                <button mat-mini-fab color="accent" matListItemMeta>
                    <mat-icon style="color: black;">done</mat-icon>
                </button>
            </mat-list-item>
            }
            }
        </mat-list>
    </mat-tab>
</mat-tab-group>