<!-- <div style="width: 100%; position: relative;">
    <img src="/assets/heros/gunner_upperbody.png" style="width: 75%; position: relative; top:0px; left:0px; z-index: -1;"/>
    <div style="background-color: #404040; padding:.5em; border-radius: 0.5em; position: absolute; top:6em; right:2em; width: 50ex; z-index: 10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
</div> -->
@if (this.hero && this.heroClass) {
<div fxLayout="col wrap" fxLayoutAlign="center space-between">
    <img [src]="this.heroClass.img" style="min-width: 500px;"/>
    <h2>{{this.hero.hero_name}}</h2>
    <h3>{{this.heroClass.class_name}}</h3>
    <!-- <div style="background-color: #404040; padding:.5em; border-radius: 0.5em; width: 20em;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div> -->
</div>
}