<div class="content">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav-content>
            <section class="formBox">
                <h2 class="section-heading">Create Accout</h2>
                <form [formGroup]="createForm" (submit)="submitCreate()" class="loginForm">
                    <mat-form-field>
                        <mat-label for="account">Account Name</mat-label>
                        <input matInput id="acount" type="text" formControlName="account">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="passphrase">Passwort</mat-label>
                        <input matInput id="passphrase" type="password" formControlName="passphrase">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="passphrase_confirm">Passwort bestätigen</mat-label>
                        <input matInput id="passphrase_confirm" type="password" formControlName="passphrase_confirm">
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Create Account</button>
                </form>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>