<!-- <div class="content"> -->
    <!-- <mat-sidenav-container class="sidenav-container"> -->
        <!-- <mat-sidenav-content> -->
            <div fxLayout="col wrap" fxLayoutAlign="center space-between">
                @for (group of this.groupList; track group) {
                <mat-card fxFlex style="padding: 5px;width: 45%; margin:20px">
                    <mat-card-header>{{group.group_name}}</mat-card-header>
                    <mat-card-content>
                        <div color="accent">
                            <span>Mitglieder</span>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button color="primary" mat-fab aria-label="Button to open group details" (click)="this.onToGroupDetails(group.group_id)">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </mat-card-actions>
                    <mat-card-footer>ID: {{group.group_id}}</mat-card-footer>
                </mat-card>
                }
            </div>
        <!-- </mat-sidenav-content> -->
    <!-- </mat-sidenav-container> -->
<!-- </div> -->