:host {
    height: 100%;
    display: block;
}

mat-sidenav {
    width: 400px;
}

.body {
    height: 100%;
    display: block;
    background-color: var(--mat-sidenav-content-background-color);
}

.bottom-toolbar {
    bottom: 0;
    position: fixed;
    max-width: 1000px;
    // height: fit-content;
}
