<main class="body">
  <!-- <div class="app-hight"></div> -->
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Button to navigate back" (click)="this.navBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>House Heros</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="Button to open Menu" (click)="this.toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container autosize class="sidenav-container">
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-nav-list>
        <a mat-list-item (click)="this.submitLogout()">
          <span class="entry">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar color="primary" class="bottom-toolbar">
    <span class="toolbar-spacer"></span>
    @for (item of this.bottomActions; track item) {
      <div class="buttom-toolbar-action">
      <button (click)="this.callFunction(item.action)" mat-fab color="primary">
        <mat-icon>{{item.icon}}</mat-icon>
      </button>
      <span>{{item.text}}</span>
    </div>
      <span class="toolbar-spacer"></span>
    }
  </mat-toolbar>
</main>