<div class="main">
  <div class="content">
    <p>Testapp mit angular/materials</p>
    <mat-card>
      <mat-card-header>Testcard</mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </mat-card-content>
      <mat-card-actions>
        <mat-slide-toggle>Toggle me!</mat-slide-toggle>
      </mat-card-actions>
      <mat-card-footer>Footnote</mat-card-footer>
    </mat-card>
    <router-outlet />
  </div>
</div>