:host {
    height: 100vh;
    display: block;
}

.body {
    height: 100%;
    display: block;
    background-color: var(--mat-sidenav-content-background-color);
}

// .app-height {
//     height: 100vh;
// }

.bottom-toolbar {
    bottom: 0;
    position: fixed;
    max-width: 1000px;
}
