<div class="card flex justify-content-center">
    <p-stepper [linear]="true" class="full-width">
        <p-stepperPanel i18n-header header="Hero Class">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                <div style="max-width: 500px; margin:auto;">
                    <p-toast></p-toast>
                    <p-carousel [value]="this.getHeroClasses()" [numVisible]="1" [circular]="true"
                        (onPage)="this.selectClass($event)">
                        <ng-template let-heroClass pTemplate="item">
                            <h2 style="margin:auto; width:fit-content; padding-top: 2em;">{{heroClass.class_name}}</h2>
                            <img [src]="heroClass.img" style="width: 100%;">
                        </ng-template>
                    </p-carousel>
                </div>
                <div class="flex pt-4 justify-content-end">
                    <p-button i18n-label="Button Next" label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel i18n-header header="Hero Name">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                let-index="index">
                <div class="flex justify-content-center">
                    <form [formGroup]="heroFrom">
                        <p-floatLabel>
                            <input id="hero_name" type="text" pInputText formControlName="hero_name" required #heroName/>
                            <label for="hero_name" i18n>Hero Name</label>
                        </p-floatLabel>
                    </form>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button i18m-label label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <p-button [disabled]="!heroName.validity.valid" i18m-label label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel i18-header header="Confirm">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                let-index="index">
                <h2 i18n>Confirm your selection</h2>
                <div class="flex justify-content-center">
                    <!-- <div style="flex-direction: column; display: flex;" class="justify-content-center"> -->
                    <ul style="list-style-type: none;">
                        <li>
                            <p-avatar size="xlarge" shape="circle">
                                <img src="{{this.selectedClass.img_head}}" #heroAvatar>
                            </p-avatar>
                        </li>
                        <li>
                            <h3 i18n>Name: {{this.heroFrom.value.hero_name}}</h3>
                        </li>
                        <li>
                            <h3 i18n>Class: {{this.selectedClass.class_name}}</h3>
                        </li>
                    </ul>
                    <!-- </div> -->
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button i18n-label label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <p-button i18n-label label="Confirm" icon="pi pi-check" iconPos="right" severity="success" (onClick)="this.confirmHero()" />
                </div>
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>